@charset "UTF-8";

.container {
    width: 400px;
    margin: 100px auto;
    border: 2px solid black;
  }
  
  .output {
    width: 400px;
    height: 100px;
    line-height: 50px;
    text-align: left;
    padding: 10px;
    margin-bottom: 8px;
    border:2px solid black;
    box-sizing: border-box;
    display:none;
  }
  
  .output.active {
    display:block;
  } 
  
  .input1,.input2 {
    width:400px;
    border: 2px solid black; 
  }

  .row {
    display: flex;
    justify-content: space-between;
    border: 2px solid /*red*/;
    width: 400px;
  }
  /*rowの範囲がわかりやすいように赤の枠を作っています。*/
  
  .num_bth, #clear, #equal_btn,.setting,.const,.funct,.conte,.set{
    width: 120px;
    height: 60pxi;
    text-align: center;
    line-height: 60px;
    border-radius: 30%;
    background: lightgray;
    cursor: pointer;
    margin: 5px;
  }
  input[type=radio] {
    display: none; /* ラジオボタンを非表示にする */
    }
    input[type="radio"]:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
    }
    .label:hover {
    background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
    }
    .label {
      display: block; /* ブロックレベル要素化する */
      float: left; /* 要素の左寄せ・回り込を指定する */
      margin: 5px; /* ボックス外側の余白を指定する */
      width: 100px; /* ボックスの横幅を指定する */
      height: 45px; /* ボックスの高さを指定する */
      padding-left: 5px; /* ボックス内左側の余白を指定する */
      padding-right: 5px; /* ボックス内御右側の余白を指定する */
      color: #b20000; /* フォントの色を指定 */
      text-align: center; /* テキストのセンタリングを指定する */
      line-height: 45px; /* 行の高さを指定する */
      cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
      border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
      border-radius: 5px; /* 角丸を指定する */
    }
    #test{
      display:none;
    }